/SistemaBiblioteca.MóduloLibros/nbproject/private/
/SistemaBiblioteca.MóduloLibros/build/
/SistemaBiblioteca.MóduloLibros/dist/
/SistemaBiblioteca.Libros/nbproject/private/
/SistemaBiblioteca.Libros/build/
/SistemaBiblioteca.Libros/dist/
/SistemaBiblioteca.Inicio/nbproject/private/
/SistemaBiblioteca.Inicio/dist/
/SistemaBiblioteca.Inicio/build/
/SistemaBiblioteca.Autores/nbproject/private/
/SistemaBiblioteca.Autores/build/
/SistemaBiblioteca.Autores/dist/
/SistemaBiblioteca.Editoriales/nbproject/private/
/SistemaBiblioteca.Categorias/nbproject/private/
/SistemaBiblioteca.Idiomas/nbproject/private/
/SistemaBiblioteca.Categorias/build/
/SistemaBiblioteca.Categorias/dist/
/SistemaBiblioteca.Editoriales/dist/
/SistemaBiblioteca.Editoriales/build/
/SistemaBiblioteca.Idiomas/build/
/SistemaBiblioteca.Idiomas/dist/